// _checkbox.scss v-0.3 //

// <label class="checkbox btn">
//   <div class="icon-outlined">
//     {{checked ? 'check_box' : 'check_box_outline_blank'}}
//   </div>
//   <input ref="check" type="checkbox" 
//       v-model:checked="checked"
//       @change="$emit('change', $event.target.checked)">
// </label>
    
.checkbox {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  user-select: none;
  vertical-align: middle;
  color: var(--muted-8);

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;    
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    height: 0;
    width: 0;   
  }
}