// _number.scss v-0.3 //

// <div class="number-group">
//   <div class="material-icons">remove</div>
//   <input class='num' type="number" 
//         min="0" max="255" value="100"> 
//   <div class="material-icons">add</div>
// </div>
 
 // #region input-number
 .number-group {
  // height: 2rem; // -- opinionated
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid #333;
  /*   grid-gap: 0.5rem; */   
  
  &:focus-within {
    border-color: dodgerblue;
  }
  
  .num {
    border: none;
    outline: none;

    display: inline-block;
    background: transparent;
    text-align: center; // opinionated
    width: 48px;
  }
  
  .material-icons {
    font-size: var(--h7);
    cursor: pointer;
    user-select: none;
  }  
}

/* hide & turn off spinners */
[type="number"] {
  -moz-appearance: textfield; 
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}
// #endregion input-number


