// _forms.scss v-0.3 //

// #region Forms ================== //
a, area, button, input, label,
select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation; 
  touch-action: manipulation; 
}

// BORDERS are being set with box-shadow //
button, input, select, textarea {
  font-family: inherit; 
  font-size: var(--h7);
  line-height: inherit; 
  letter-spacing: inherit; 
  color: inherit; 
  background-color: transparent; 
  background-color: rgba(255,255,255,0); 
  border: 0 solid; 
  outline: none;
  margin: 0;
  padding: 0.25em 0.5em; 
  border-radius: 0.25rem;   
  box-shadow: 0px 0px 0px 1px inset var(--gray-500);  
  overflow: hidden;  
  transition: all 0.1s;
}

button, [type="button"],
[type="reset"], [type="submit"] {  
  text-transform: none;
  -webkit-appearance: none;
  outline: none;
  user-select: none;
  border-radius: 0.25rem; 
  cursor: pointer;

  &:hover { color: var(--gray-500); }
  &:active { box-shadow:
    0 0 0 1px inset var(--gray-800); }  
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

[type="text"], [type="email"],
[type="search"], [type="tel"],
[type="url"], [type="password"],
textarea {
  min-width: 3rem;

  &:focus {
    // box-shadow: 0px 0px 0px 1px inset var(--gray-800);
    box-shadow: 0 0 0 1px inset var(--lightBlue-800);
  }
}

[type="checkbox"], [type="radio"] {  
  padding: 0;
  box-shadow: none;
  vertical-align: middle;
  // cursor: pointer;
}

select {
  position: relative;
  height: 2.583334rem;
  display: inline-block;
  text-transform: none;
  -webkit-appearance: menulist-button;  
  cursor: pointer;

  @include media (640px) { height: 2.576923rem; }
  @include media (800px) { height: 2.571429rem; }
  @include media (1600px) { height: 2.566667rem; }
}
textarea { resize: vertical; }

// misc.
optgroup {
  font-size: inherit;
  line-height: inherit; 
  letter-spacing: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button { height: auto; }
::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}
::-webkit-input-placeholder {
 color: inherit;
 opacity: 0.54;
}
:-moz-focusring { outline: 1px dotted $fontColor; }
:-moz-ui-invalid { box-shadow: none; }
fieldset {
  border: 1px solid #a0a0a0; 
  padding: 0.35em 0.75em 0.625em; 
}
legend {
  color: inherit; 
  display: table; 
  max-width: 100%; 
  white-space: normal; 
  padding: 0;
}
progress {
  display: inline-block; 
  vertical-align: baseline; 
}
// #endregion Forms ================== //

