// _material-icons.scss v-0.3 //

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/* Outlined */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v27/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons, .icon, [icon] {
  font-family: 'Material Icons';
}

.material-icons-outlined, 
.icon-outlined, .icon.outlined, [icon-outlined] {
  font-family: 'Material Icons Outlined';
}

.material-icons-outlined, 
.icon-outlined, .icon.outlined, [icon-outlined],
.material-icons, .icon, [icon] {
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size: 24px;
  line-height: 1;
  vertical-align: text-bottom;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

